@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --color-primary-two: #F4CE14;
    --color-highlight2: #333333;

    --font-style-two: 'Karla', sans-serif
}

button {
    font-family: var(--font-style-two);
    font-size: 20px;
    color: var(--color-highlight2);

    background-color: var(--color-primary-two);

    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-highlight2);
    color: var(--color-primary-two);

    transition: 0.4s ;
}