.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    width: 70%;
    height: 100px;
    padding: 10px;
}

.nav img {
    height: 50px;
}

.nav-list {
    display: flex;
    align-items: center;

    list-style: none;
}

.nav-list li {
    padding: 0 10px;
}

.nav-list li a {
    text-decoration: none;

    color: rgb(57, 50, 50);
    font-size: 16px;
    font-weight: 500;
}